@media only screen and (max-width: 480px) and (min-width: 321px){
  html{

    body{

      margin: 0%;
      padding: 0%;

      div#menu-responsive {

        background-color: $greymedium;
        margin: 0% 0% 0% 0%;
        padding: 6% 3% 6% 3%;

        #container-icon{

          cursor: pointer;
          display: inline-block;
          margin: 0% 0% 0% 0%;

          div#menu-icon {

            width: 33px;
            height: 6px;
            background-color: white;
            border: 0px solid white;
            border-radius: 1px;
            margin: 6px 0;
          }
        }
        input#mySearch{

          float: right;
          background-color: $greymedium;
          background: url("../magnifying_glass.png");
          background-position: right;
          background-repeat: no-repeat;
          border: 3px solid white;
          border-radius: 12px;
          font-family: "Microsoft PhagsPa";
          font-size: 1.8em;
          margin: 0% 0% 0% 0%;
          width: 83%;
        }
        /*
          img#search-glass{

            position: relative;
            bottom: 40px;
            left: 335px;
          }*/
      }
      div#menu.tab {

        display: none;
      }
      div.tab button {

        display: none;
      }
      div.tab button:hover {

        display: none;
      }
      div.tab button.active {

        display: none;
      }
      .tabcontent {

        margin: 0%;
        max-width: 100%;
        padding: 0%;
      }
      div#logo-banner{

        margin: 6% 0% 6% 0%;
        max-width: 100%;
      }
      div#Voluptatum{

        margin: 0% 1% 0% 1%;
        max-width: 98%;
        padding: 0%;
        text-align: left;
      }
      p#p-voluptatum-head {

        color: black;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 0px;
        line-height: 100%;
        margin: 0% 8% 0% 8%;
        max-width: 100%;
        padding: 0%;
        text-align: left;
      }
      p#p-voluptatum {

        color: black;
        font-size: 1em;
        font-family: "Microsoft PhagsPa";
        margin: 0% 8% 0% 8%;
        max-width: 100%;
        padding: 0%;
        text-align: left;
      }
      div#header-voluptatum {

        color: $red;
        font-size: 2em;
        margin: 0% 8% 0% 8%;
        text-align: left;
      }
      form {

        border: none;
        border-radius: 0px;
        box-shadow: 0px 0px 0px $greydark;
        box-sizing: content-box;
        font-family: "Segoe UI";
        font-size: 0.8em;
        margin: 3% 0% 3% 0%;
        padding: 3% 3% 3% 3%;
        text-align: left;
        width: 92%;

        div#name {

          margin: 0% 0% 0% 0%;
          padding: 0% 0% 0% 0%;
          position: relative;
          left: 0px;
          bottom: 0px;
          width: auto;
        }
        input#font-name {

          background-color: $grey;
          border: none;
          border-radius: 3px;
          box-sizing: border-box;
          font-size: 2em;
          margin: 0% 0% 0% 0%;
          padding: 2% 1% 2% 1%;
          position: relative;
          left: -36px;
          bottom: -31px;
          text-align: left;
          width: 80%;
        }
        div#email {

          margin: 0% 0% 0% 0%;
          padding: 0% 0% 0% 0%;
          position: relative;
          left: 0px;
          bottom: -10px;
          width: auto;
        }
        input#font-email {

          background-color: $grey;
          border: none;
          border-radius: 3px;
          box-sizing: border-box;
          font-size: 2em;
          margin: 0% 0% 0% 0%;
          padding: 2% 1% 2% 1%;
          position: relative;
          left: -33px;
          bottom: -31px;
          text-align: left;
          width: 80%;
        }
        div#mobile-number {

          margin: 0% 0% 0% 0%;
          padding: 0% 0% 0% 0%;
          position: relative;
          left: 0px;
          bottom: -39px;
          width: auto;
        }
        input#font-mobile {

          background-color: $grey;
          border: none;
          border-radius: 3px;
          box-sizing: border-box;
          font-size: 2em;
          margin: 0% 0% 0% 0%;
          padding: 2% 1% 2% 1%;
          position: relative;
          left: 1px;
          bottom: 1px;
          text-align: left;
          width: 80%;
        }
        div#date-of-birth {

          margin: 0% 0% 0% 0%;
          padding: 0% 0% 0% 0%;
          position: relative;
          left: 0px;
          bottom: -21px;
          width: auto;

          select#sel-dob {

            background-color: $grey;
            border: none;
            border-radius: 8px;
            font-size: 1.6em;
            padding: 1.3% 0% 1.3% 3%;
            position: relative;
            left: -74px;
            bottom: -25px;
            text-align: center;
            width: 31%;
          }
          select#sel-day {

            background-color: $grey;
            border: none;
            border-radius: 8px;
            font-size: 1.6em;
            padding: 1.3% 0% 1.3% 3%;
            position: relative;
            left: -60px;
            bottom: -26px;
            text-align: center;
          }
          select#sel-year {

            background-color: $grey;
            border: none;
            border-radius: 8px;
            font-size: 1.6em;
            padding: 1.3% 0% 1.3% 3%;
            position: relative;
            left: -43px;
            bottom: -26px;
            text-align: center;
          }
        }
        div#gender{

          margin: 0% 0% 3% 8%;
          padding: 0% 0% 0% 0%;
          position: relative;
          left: -33px;
          bottom: -44px;
          width: auto;
        }
        input#checkbox {

          margin: 0% 0% 0% 8%;
          padding: 0% 0% 0% 0%;
          position: relative;
          left: 5px;
          bottom: -22px;
          width: auto;
        }
        p{

          font-size: 1.1em;
          margin: 0% 12% 0% 8%;
          padding: 0% 0% 0% 0%;
          position: relative;
          left: 23px;
          bottom: -9px;
          width: auto;
        }
        button {

          font-size: 1.3em;
          position: relative;
          left: 22px;
          bottom: -33px;
          width: 30%;
        }
        div#cards {

          position: relative;
          left: 118px;
          bottom: 38px;
          width: 50%;
          height: auto;
        }
      }
      footer#footer-main {

        font-size: 1.3em;
        margin: 0% 0% 0% 0%;
        text-align: center;
        width: 100%;

        ul {

          border-bottom: 1px solid lightseagreen;
          cursor: pointer;
          padding: 0% 0% 3% 0%;
          text-align: center;
          width: 60%;
          li{

            text-align: center;
            display: none;
          }
        }
      }
    }
  }
}
